<div class="cardVaga">
  <img src="../../../assets/medical.jpg" alt="">
  <section class="description">
    <h3>Voluntariado em Saúde</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
    <a href="">Veja mais</a>
  </section>
</div>

<p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <img src="../../../assets/medical.jpg" alt="" class="w-6 shadow-2" />

          <div>
              <h4 class="mb-1">Voluntariado em Saúde</h4>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
          </div>
      </div>
  </ng-template>
</p-carousel>
