.cardVaga{
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 2em;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 1em;

}

 img {
  width: 18em;
  height: 16em;
  object-fit: cover;
  border-radius: 2%;
}

.cardVaga a{
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  text-decoration: none;
  color: black;
  background-color: bisque;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  height: 2em;
  align-self: flex-end;
}
