<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Entre na sua conta</mat-card-title>
  </mat-card-header>
  <form [formGroup]="applyForm" (submit)="submitApplication()">
    <mat-card-content>
      <mat-form-field class="inputs">
       <mat-label>Enter your email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               formControlName="email"
               (blur)="updateErrorMessage()"
               required>
        @if (applyForm.get('email')?.invalid) {
          <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Entrar</button>
    </mat-card-actions>
  </form>
</mat-card>
