<main>
  <header>
    <div class="containHeader">
      <div class="containLogo">
        <img src="../assets/logo.png" alt="Logo da VoluntáriaSSA">
        <h1>VoluntáriaSSA</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Vagas</a></li>
          <li><a href="/">Empresas/ONGs</a></li>
          <li ><a href="/" >Entrar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <app-home></app-home>
  <app-vagas></app-vagas>
</main>
