<section class="contain">
    <div class="imageVoluntariado">
      <img src="../../../assets/fotoHome.png" alt="">
    </div>

  <section class="containerVagas">
    <h2>Vagas em projetos e ações</h2>
    <div class="listVagas">
       <app-lista-vagas *ngFor="let listaDeVagas of listaDeVagas.slice(0,4)" [listaDeVagas]="listaDeVagas"></app-lista-vagas>
    </div>
    <a [routerLink]="['/vagas']" class="maisVagas">Exibir todas as vagas
      <img  src="../../../assets/more.png" alt="Ícone de mais para abrir página de vagas">
    </a>
  </section>
</section>
